@charset "UTF-8";

/*Typical device Breakpoints
----------------------------
Pequenas Telas: Até 600px
Celular: 600px Até 768px
Tablet: 768px até 992px
Desktop: 992px Até 1200px
Grandes telas: Acima de 1200px
*/

